.Navbar {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    /* For other modern browsers */
    top: 0;
    /* Stick to the top */
    width: 100%;
    /* Full width */
    background-color: rgb(255, 255, 255);
    /* Background color to make it visible */
    z-index: 1000;
    /* Ensure it stays on top of other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for better visibility */
}
.Navbar .navBTN {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.Navbar .navBTN .navItem a {
    color: #000000;
    text-decoration: wavy;
    font: 1em sans-serif;
}

.Navbar .navBTN .navItem a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.Navbar .navBTN .navItem .home-icon img {
    width: 72px;
    height: 50px;
}

.Navbar .navBTN .cart-icon {
    position: relative;
}
.Navbar .navBTN .cart-icon img {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 40px;
}

.Navbar .navBTN .cart-count {
    position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}