.PayMent {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 50px;
}

.PayMent .quiz,
.PayMent .bookDetails {
    border-radius: 15px;
    border: 1.5px solid #252525;
    padding: 8px;
    width: 300px;
        /* Adjust width as necessary */
}

.PayMent img {
    width: 280px;
    height: 240px;
    border-radius: 5%;
}

.PayMent .imgSale {
    width: 400px;
    height: 350px;
}
.PayMent h4 {
    margin: 1px;
    font-size: 15px;
}

.PayMent button {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.PayMent input {
    border: 1.5px solid #252525;
    border-radius: 10px;
    margin: 10px 0 20px;
    width: 250px;
    padding: 5px;
}

.PayMent .bookDetails h2,
.PayMent .bookDetails h3 {
    margin-top: 0;
    font-size: 18px;
}